*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 60px;
    background-color:#0F1111;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}
.nav_logo{
    height: 50px;
    width: 100px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
border: 1.5px solid white;
}
/* box 2 */

 .add-first{
   color:#cccccc;
   font-size: 0.85rem;
   margin: 5px;
 }
 .add-last{
    font-size: 1.1rem;
 }
 .add-icon{
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 2px;
 
 }
 /* box 2 */
 .searchbox{
    display: flex;
    background-color: rgba(255, 153, 0, 0.986);
    border: 1px dotted black;
    width: 40%;
    height: 2rem;
    
    
 }
 .searchicon{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 input{
width: 89%;

 }
 .search-select{
    background-color: bisque;
 }
 .searchbox:hover{
    border: 1px dotted orangered;
 }
 /* box 4 */
 .language{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .language select{
    background-color: #0F1111;
    color: aliceblue;
    border: none;
    outline: none;
 }
 /* box 5 and 6 */
 span{
    font-size: 0.87rem;
 }
  .para{
    font-size: 1rem;
    font-weight: 700;
  }
  /* box 7 */
 
  .cartbox{
    display: flex;
    gap: 1px;
    align-items: center;
    font-size: 0.85rem;
    font-weight:900 ;
  }
  .cartbox i {
    font-size: 30px;
  }
  /* panel */
  .panel{
    height: 40px;
display: flex;
background-color: #222f3d;
color: white;
align-items: center;
justify-content: space-around;
  }
  .panel-text p {
     display:inline;
     margin-left: 10px;
   
  }
  .panel-text{
    width: 70%;
     font-size: 1rem;
  }
  .panel-deals{
    font-size: 1.2rem;
    font-weight: 700;
  }
  /* main section */
  .main{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
  }
  .message{
    background-color: aliceblue;
    color: black;
    font-size: 0.85rem;
    width:80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:25px ;
  }
  .message a{
    color: #007185;
    text-decoration: none;
  }
  /* content  */
  .contentcontainer{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
  }
  .box{
    margin-top: 20px;
    border: 1px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px  15px;
   
  }
  .box1-image{
    height: 300px;
    margin-top: 1rem;
    background-size: cover;
    
  }
  .box1-content{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .box1-content p {
color:#007185 ;
  }
  
  /* content type 2 */

  .main2{
    /* margin-top: 10px; */
    background-color: #e2e7e6;
    display: flex;
    justify-content: space-evenly;
    height: 450px;
   
  }
  .container{
    
   display: flex;
   justify-content: space-around;
     
}
.boxtype2{
  width: 300px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
    border: 1px solid #000;
    padding: 1rem;
    background-color: aliceblue;
}

.boxtype2-image{
   
display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    
}
.boxtype2 p {
  color: #007185;
    grid-row: 3;
    align-self: auto;
}
/* .main3{
 
  background-color: #e2e7e6;
  display: flex;
    justify-content: space-evenly;
    height: 400px;
} */
.boxtype2-image p{
color: #0F1111;

}
.footerpanel{
  background-color: #29354296;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerpanel p{
  color: #cccccc;
  font-size: 1.2rem;
}
.footer{
  height: 400px;
  background-color: #222f3d;
  color: #cccccc;
  display: flex;
  align-items: center;
justify-content: space-evenly;
}
.part{
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  gap:15px
}
.part p:hover{
  text-decoration-line: underline;
}
.navfooter{
  background-color:#222f3d;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.navfooter i{
  font-size: 1rem;
  color: #cccccc;
}
.text2{
  
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 2px;
  gap: 1px;
}
.footerselect{
  margin-top: 1px;
  background-color: #222f3d;
border: none;
outline: none;
color: #cccccc;
}
.text1{
  border: 1px solid white;
padding: 2px;
}
.lastpart{
  background-color:black ;
  height: 70px;
  display:flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.lastpart p{
  color: aliceblue;
}
.lastpart-1{
  display: flex;
  flex-direction: row;
  gap: 50px;
  
}
.lastpart p:hover{
  text-decoration: underline;
  color: #cccccc;
}